/*#region Classes*/
.MainInfo{
    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 5em;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resize{
    width:358.3px;
    height:357.3px;
}
.Tipografia{
    font-family: 'Francois One', sans-serif;
}
    /*#region About me*/
    .About{
        display: flex;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: -0.7em;
    }
    .General-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*#endregion*/
    /*#region Experience*/
    .Experience{
        display: flex;
        margin-top: 5em;
        width: 100%;
        justify-content: space-around;
    }
    /*#endregion*/
/*#endregion*/

/*#region IDs*/
#Carlos,#Garzon{
    display: flex;
    color: #e52b54;
    font-size: 3em;
    margin-top: -0.4em;
}
#HELLO{
    color: #848484;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 2em;
}
#GAME{
    margin-top: -0.6em;
    font-size: 0.8em;
}
#IM{
    font-size: 2.5em;
}
#img-container{
    display: flex;
    align-self: flex-end;
    width: 537.5;
    height: 536;
}
    /*#region About me*/
    #who,#am{
        display: flex;
        color: #e52b54;
        font-size: 1em;
        margin-right: 0.5em;
    }
    #i{
        display: flex;
        color: black;
        font-size: 1em;
        margin-right: 0.5em;
    }
    #me{
        display: flex;
        color: black;
        font-size: 2.5em;
    }
    #Descripcion{
        display: flex;
        color: black;
        font-size: 0.8em;
        width: 60em;
        text-align: center;
    }
    /*#endregion*/
    /*#region Experience*/
    #Titulo{
        display: flex;
        font-size: 1.3em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        margin-top: 1.5em;
    }
    #fecha{
        color: black;
        font-weight: bold;
        margin-bottom: 0.8em;
        font-size: 1em;
    }
    #estudio{
        color: #e52b54;
        font-size: 1.3em;
    }
    #instituto{
        color: #848484;
        font-size: 0.9em;
    }
    #Education-jobs{
        display: flex;
        flex-direction: row;
    }
    #Education{
        margin-right: 1em;
    }
    #Education-div{
        display: flex;
    }
    #Experience-div{
        display: flex;
        margin-right: 2.5em;
        margin-left: 2.5em;
    }
    #Skills-div{
        display: flex;
    }
    #Experience-div-principal{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /*#endregion*/
    /*#region Skills*/
    #skill{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1em;
    }
    #porcentaje{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    }
    #Progress{
        height:24px;
    }
    /*#endregion*/
/*#endregion*/
/*#region Media query*/
@media (max-width: 980px){
    /*#region Main-info*/
    .resize{
        width:606.6px;
        height:604.6px;
    }
    #HELLO {
        font-size: 2em;
        margin-bottom: 1em;
    }
    .MainInfo{
        display: flex;
        background-color: white;
        justify-content: flex-start;
        margin-top: 5em;
    }
    #Carlos,#Garzon{
        font-size: 3.65em;
    }
    #IM{
        font-size: 3.5em;
    }
    #GAME{
        font-size: 1.8em;
    }
    /*#endregion*/
    /*#region About-me*/
    .About{
        justify-content: flex-start;
    }
    .General-info{
        flex-direction: column;
        align-items: flex-start;
    }
    #who,#am{
        font-size: 3em;
        margin-right: 0.2em;
    }
    #i{
        font-size: 3em;
        margin-right: 0.2em;
    }
    #me{
        margin-top: 0.3em;
        margin-bottom: 0.1em;
        font-size: 3.5em;
    }
    #Descripcion{
        font-size: 2.5em;
        width: 25em;
        text-align: left;
    }
    /*#endregion*/
    /*#region Experience*/
    .Experience{
        margin-top: 2.5em;
        width: 100%;
        justify-content: flex-start;
    }
    #Experience-div-principal{
        flex-direction: column;
        justify-content: flex-start;
    }
    #Experience-div{
        display: flex;
        margin-right: 0em;
        margin-left: 0em;
        margin-top: 4em;
        margin-bottom: 4em;
    }
    #Titulo{
        font-size: 3.5em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        font-size: 2.5em;
        margin-top: 0.8em;
    }
    #fecha{
        color: black;
        font-weight: bold;
        margin-bottom: 0.2em;
        font-size: 1em;
    }
    #estudio{
        font-size: 1.3em;
    }
    #instituto{
        font-size: 0.9em;
    }
    #skill{
        flex-direction: column-reverse;
        margin-top: 1em;
        width: 65em;;
    }
    #porcentaje{
        justify-content: space-between;
        font-size: 2.5em;
    }
    #Progress{
        height:30px;
    }
    /*#endregion*/
    .MainInfo,#About-me,.Experience{
        margin-left: 1em;
    }
}
@media (max-width: 1240px) and (min-width: 1024px) {
    /*#region Main-info*/
    .resize{
        width:496.6px;
        height:494.6px;
    }
    #HELLO {
        font-size: 1.1em;
        margin-bottom: 1em;
    }
    #GAME{
        font-size: 1.2em;
    }
    /*#endregion*/
    /*#region About-me*/
    #Descripcion{
        font-size: 1em;
        width: 50em;
    }
    #who,#am{
        font-size: 1.1em;
        margin-right: 0.2em;
    }
    #i{
        font-size: 1.1em;
        margin-right: 0.2em;
    }
    /*#endregion*/
    /*#region Experience*/
    #Titulo{
        font-size: 2em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        font-size: 0.9em;
        margin-top: 0.5em;
    }
    #fecha{
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    #estudio{
        font-size: 1.3em;
    }
    #instituto{
        font-size: 0.9em;
    }
    #skill{
        margin-top: 1em;
        width: 15em;
    }
    #porcentaje{
        justify-content: space-between;
        font-size: 1em;
    }
    #Progress{
        height:15px;
    }
    /*#endregion*/
}
@media (max-width: 1440px) and (min-width: 1240px) {
    /*#region Main-info*/
    .resize{
        width:606.6px;
        height:604.6px;
    }
    #HELLO {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    #GAME{
        font-size: 1.2em;
    }
    #Carlos,#Garzon{
        font-size: 3.65em;
    }
    #IM{
        font-size: 2.5em;
    }
    /*#endregion*/
    /*#region About-me*/
    #Descripcion{
        font-size: 1.2em;
        width: 50em;
    }
    #who,#am{
        font-size: 1.5em;
        margin-right: 0.2em;
    }
    #i{
        font-size: 1.5em;
        margin-right: 0.2em;
    }
    /*#endregion*/
    /*#region Experience*/
    #Titulo{
        font-size: 1.9em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        font-size: 1.3em;
        margin-top: 0.5em;
    }
    #fecha{
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
    #estudio{
        font-size: 0.9em;
    }
    #instituto{
        font-size: 0.9em;
    }
    #skill{
        margin-top: 0.9em;
        width: 20em;
    }
    #porcentaje{
        justify-content: space-between;
        font-size: 1em;
    }
    #Progress{
        height:20px;
    }
    /*#endregion*/
}
@media (max-width: 2173px) and (min-width: 1440px){
    /*#region Main-info*/
    .resize{
        width:806.6px;
        height:804.6px;
    }
    #HELLO{
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    #GAME{
        font-size: 2.5em;
    }
    #Carlos,#Garzon{
        font-size: 6.65em;
    }
    #IM{
        font-size: 4.5em;
    }
    /*#endregion*/
    /*#region About-me*/
    #Descripcion{
        font-size: 2.3em;
        width: 30em;
    }
    #who,#am{
        font-size: 2.5em;
        margin-right: 0.2em;
    }
    #i{
        font-size: 2.5em;
        margin-right: 0.2em;
    }
    #me{
        font-size: 5.5em;
    }
    /*#endregion*/
    /*#region Experience*/
    #Titulo{
        font-size: 3.5em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        font-size: 2em;
        margin-top: 0.5em;
    }
    #fecha{
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    #estudio{
        font-size: 1.5em;
    }
    #instituto{
        font-size: 1em;
    }
    #skill{
        margin-top: 1em;
        width: 30em;
    }
    #porcentaje{
        justify-content: space-between;
        font-size: 2.5em;
    }
    #Progress{
        height:25px;
    }
    #Education-div{
        margin-left: 3em;
    }
    #Skills-div{
        margin-right: 3em;
    }
    /*#endregion*/
}
@media (min-width: 2173px) {
    /*#region Main-info*/
    .resize{
        width:1276.6px;
        height:1274.6px;
    }
    #HELLO {
        font-size: 2.8em;
        margin-bottom: 1em;
    }
    #GAME{
        font-size: 3.5em;
    }
    #Carlos,#Garzon{
        font-size: 7.65em;
    }
    #IM{
        font-size: 5.5em;
    }
    /*#endregion*/
    /*#region About-me*/
    #Descripcion{
        font-size: 2.8em;
        width: 50em;
    }
    #who,#am{
        font-size: 3.5em;
        margin-right: 0.2em;
    }
    #i{
        font-size: 3.5em;
        margin-right: 0.2em;
    }
    #me{
        font-size: 5.5em;
    }
    /*#endregion*/
    /*#region Experience*/
    #Titulo{
        font-size: 5.5em;
        text-align: center;
    }
    #Learn-English,#Sena,#UAO{
        font-size: 2.3em;
        margin-top: 0.5em;
    }
    #fecha{
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    #estudio{
        font-size: 1.5em;
    }
    #instituto{
        font-size: 1em;
    }
    #skill{
        margin-top: 1em;
        width: 45em;
    }
    #porcentaje{
        justify-content: space-between;
        font-size: 2.5em;
    }
    #Progress{
        height:45px;
    }
    /*#endregion*/
}
/*#endregion*/
